.bg {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(232deg, #ff9c64 28.07%, #fe5b00 100%);
  vertical-align: middle;
}
.text {
  padding-top: 15vh;
  margin-left: 2vw;
}
.text h1 {
  font-size: 72px;
  font-weight: 700;
  color: #fff;
}
