.bg {
  width: 100vw;
  height: 100vh;
}
.h3 {
  margin-top: 15vh;
  font-size: 40px;
  font-weight: 700;
  justify-content: center;
  text-align: center;
}
.color {
  color: #fe5b00;
}
.firstFilter {
  width: 70vw;
  height: 100%;
  background: #fff;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 12vh;
}
.filter {
  width: 70vw;
  height: 100%;
  background: #fff;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 4vh;
}
.p {
  width: 70vw;
  font-size: 32px;
  font-weight: 700;
  line-height: 96px;
  text-align: center;
  justify-content: center;
}
.lastState {
  margin-top: 12vh;
  font-size: 40px;
  font-weight: 700;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 390px) {
  .bg {
    height: auto;
  }
  .h3 {
    margin-top: 10vh;
    font-size: 24px;
  }
  .firstFilter,
  .filter {
    width: 90vw !important;
    margin-top: 8vh;
  }
  .filter {
    width: 90vw !important;
    margin-top: 2vh;
  }
  .p {
    width: 90%;
    font-size: 20px;
    line-height: normal;
    padding: 6% 4%;
    text-align: left;
  }
  .contents {
    margin-bottom: 8vh;
  }
  .lastState {
    margin-top: 8vh;
    font-size: 24px;
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 4vh;
    justify-content: left;
    text-align: left;
  }
}
